<button type="button" class="btn btn-outline-dark mb-1 text-center" (click)="openPopup()">Create new school</button>

<div class="modal" id="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h4 class="modal-title">New School</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Enter school name" id="newName" name="newName"
                    [(ngModel)]="newSchool.name">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark" (click)="submitCreate(newSchool)">
                    Create
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="cancelCreate()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>