<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" colspan="4" class="bg-dark text-white text-center"><i>Schools</i></th>
        </tr>
        <tr>
            <th class="col-1" scope="col">#</th>
            <th class="col-3" scope="col">Name</th>
            <th class="col-1 text-center" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let school of schools; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{school.name}}</td>
            <td class="text-center" >
                <button class="btn btn-outline-danger" (click)="delete(school.id!)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>